body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
}
.login-form{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;  
    width: 50vh;
    justify-content: center;
    background-color: rgba(233, 135, 70, 0.719);
    margin: 10% auto;
    border-radius: 5px;
    border: 1px solid rgba(233, 135, 70, 0.719);
}
.login__header{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 50px;
}

.login__header img{
    width: 100px;
}

.login__header h1{
    color: #333;
    font-size: 1.5em;
}

.login__input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    outline: none;
    padding: 15px;
    max-width: 300px;;
    width: 100%;
}

.login__button{
    background-color: #ee665C;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 1em;
    max-width: 300px;
    width: 100%;
}

.login__button:disabled{
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}